* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  /*background: coral;*/
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0 5rem;
}

.image {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.75s ease-out;
}